.ball {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: 2px;
  left: 2px;
  margin: 0;
  z-index: 1;
}


.cyan {
  background: -webkit-radial-gradient(30% 30%, circle, #b3d4f7, #000);
  /* background: -moz-radial-gradient(30% 30%, circle, #5cabff, #000); */
  /* background: radial-gradient(30% 30%, circle, #5cabff, #000); */
}

.red {
  background: -webkit-radial-gradient(30% 30%, circle, #ff361b, #000);
  background: -moz-radial-gradient(30% 30%, circle, #ff361b, #000);
  background: radial-gradient(30% 30%, circle, #ff361b, #000);
}

.brown {
  background: -webkit-radial-gradient(30% 30%, circle, #b8a09e, #000);
  background: -moz-radial-gradient(30% 30%, circle, #b8a09e, #000);
  background: radial-gradient(30% 30%, circle, #b8a09e, #000);
}

.pink {
  background: -webkit-radial-gradient(30% 30%, circle, #fa8efa, #000);
  background: -moz-radial-gradient(30% 30%, circle, #fa8efa, #000);
  background: radial-gradient(30% 30%, circle, #fa8efa, #000);
}

.green {
  background: -webkit-radial-gradient(30% 30%, circle, #78f35f, #000);
  background: -moz-radial-gradient(30% 30%, circle, #78f35f, #000);
  background: radial-gradient(30% 30%, circle, #78f35f, #000);
}

.blue {
  background: -webkit-radial-gradient(30% 30%, circle, #6959f8, #000);
  /* background: -moz-radial-gradient(30% 30%, circle, #958bee, #000);
  background: radial-gradient(30% 30%, circle, #958bee, #000); */
}

.yellow {
  background: -webkit-radial-gradient(30% 30%, circle, #fdfb89, rgb(50, 50, 0));
  /* background: -moz-radial-gradient(30% 30%, circle, #eef5cf, rgb(50, 50, 0));
  background: radial-gradient(30% 30%, circle, #eef5cf, rgb(40, 40, 0)); */
}