* {
  margin: 0;
  padding: 0
}

.content {
  width: 630px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_panel {
  display: flex;
  flex-direction: row;
}

.score_timer {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 20px;
  font-size: 20pt;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  padding: 10px;
  border: 5px solid black;
  border-radius: 16px;
  background-color: black;
  color: white;
}

.score_timer__header {
  font-size: 10pt;
  text-align: center;
  padding-bottom: 10px;
}

#score {
  text-align: center;
}

#board, table {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cell, td {
  box-sizing: border-box;
  border: 1px solid rgb(90, 90, 90);
  background-color: lightgray;
  width: 50px;
  height: 50px;
}

#controls {
  margin-top: 10px;
}

#restart {
  font-size: 20pt;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-color: blue;
}